@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

h6 {
  width: 50%;
  margin: auto;
  text-align: right;
}

p {
  font-size: 14px;
  color: red;
}

.form {
  display: flex;
  flex-direction: column;
  width: 50%;
  min-height: 500px;
  margin: 20px auto;
  text-align: center;
  border-radius: 10px;
  background: linear-gradient(to left, hsl(160, 100%, 85%), hsl(160, 100%, 80%));
  padding: 40px 0;
}

::placeholder {
  font-size: 18px;
}

.form input,
.form textarea,
.form button {
  width: 50%;
  margin: 5px auto;
  border-radius: 5px;
  border: none;
}

.form input,
.form textarea {
  padding: 20px;
  background-color: rgb(243, 243, 243);
  font-size: 16px;
}

.form button {
  width: 55%;
  margin: auto;
  background: linear-gradient(to left, hsl(160, 100%, 43%), hsl(160, 100%, 35%));
  padding: 15px 0;
  font-size: 15px;
  color: white;
}

.errorMessage {
  width: 55%;
  margin: auto;
  text-align: right;
}

.errorMessage p {
  color: rgb(73, 71, 71);
  font-size: 16px;
}